.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.section {
    margin: 50px 0;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #75A6CA; /* Subtítulos */
}

.section p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #C1E8FF;
}

.image-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}